body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: aqua;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  img {
    padding: 5px;
    border: 1px solid #ccc;
  }

.loginEstilos{
  padding-top: 2em
  }

  .imagenLog{
    width: 70%;
    height: 70%;
    
  }

.registroEstilos{
  padding-top: 2em
}

.imagenRegis{
  width: 70%;
  height: 70%;
}

.aspirante{
  display: none;
}

.reclutador{
  display: none;
}

.empresa{
  display: none;
}